<div class="layout-column flex" ng-controller="users">
	<div class="flex">
		<div class="overflow-x-auto w-full">
		  <table class="table table-pin-rows">
		    <!-- head -->
		    <thead>
		      <tr>
		        <th>N°</th>
		        <th>Name/Chrome N°</th>
		        <th>Email/Phone</th>
		        <th>Center</th>
		        <th>Type Rdv</th>
		        <th>Action</th>
		        <th>Is App...</th>
		      </tr>
		    </thead>
		    <tbody>
		      <!-- row 1 -->
		      <tr>
		        <th>1</th>
		        <td>
		          <div class="flex items-center gap-3">
		            <div class="avatar">
		              <div class="mask mask-squircle w-12 h-12">
		                <img src="https://img.daisyui.com/tailwind-css-component-profile-2@56w.png" alt="Avatar Tailwind CSS Component" />
		              </div>
		            </div>
		            <div>
		              <div class="font-bold">Hart Hagerty</div>
		              <div class="text-sm opacity-50">United States</div>
		            </div>
		          </div>
		        </td>
		        <td>
		          Zemlak, Daniel and Leannon
		          <br/>
		          <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
		        </td>
		        <td>Purple</td>
		        <td>
		        	Normal
				</td>
		        <th>
		        	<button class="btn btn-active btn-ghost btn-sm">
		        		<ng-md-icon icon="border_color"></ng-md-icon>
		      		</button>
		      		<button class="btn btn-active btn-ghost btn-sm">
		        		<ng-md-icon icon="delete_forever"></ng-md-icon>
		      		</button>
		        </th>
		        <th>
		        	<ng-md-icon icon="playlist_play"></ng-md-icon>
		        </th>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</div>
</div>